*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
}
.page1 {
    background: rgba(0, 0, 0, 0.5) url('assests/bg.png');
    background-size: cover;
    background-blend-mode: darken;
    background-position: center center;
    background-repeat: no-repeat;
    
    height: 90vh;
    width: 100vw;
}


nav {
    
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    height: 1.5rem;
    margin-left: 01rem;
    width: 5.5rem;
}
#eng {
    background: black;
    color: white;
    height: 25px;
    margin-right: 0.8rem;
    border: 0.1px solid rgb(178, 178, 178);
    width: 6rem;
    text-align: center;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#sign{
    background: red;
    margin-right: 0.8rem ;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 3.5rem;
    height: 25px;
    border: 0;
    color: white;
    font-size: 12px;
    font-weight: 550;
}
main{
    height: 82vh;
    width: 100vw;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;    
    flex-direction: column;  
      
}

.page1 h6{
    color:rgb(184, 184, 184);
    margin: 0.5rem ;
}

.page1 input{
    width: min(80vh,90%);
    margin:0.5rem auto;
    background-color: black;
    border:0.1px solid grey;
    height: 2rem;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: white;
}

.page1 input::placeholder{
    padding: 1rem;
    color:rgb(192, 192, 192);
}
#get{
    background-color: red;
    color :white;
    border: 0;
    height: 2rem;
    width: min(40vw,300px);
    margin: 0 auto;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-weight: 300;
    font-size:larger;
}
input:focus, select:focus {
    outline: none;
}
hr{
    width: 100vw;
    height: 7px;
    background-color: #717171;
    border: 0;
}
.page2{
    height: 80vh;
    width: 100vw;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    color: white;
    flex-direction: column;
    text-align: center;
    
}
.display{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.display video{
    height: 25vh;
    width: 65vw;
    margin-top: -10rem;
    
}
.display img{
    height: 33vh;
    width: 90vw;
    position: absolute;
    margin: auto;
    margin-top: -10rem;
    
}
h2{
    font-size: 40px;
    margin: 2rem 0;
}
h6{
    font-size: 15px;
    color:#D9D9D9 !important;
}

#vid3{
    height: 15vh !important;
    width: 58vw;
    margin-top: -17rem;
}
#child{
    aspect-ratio: 16 / 9; /* for a widescreen aspect ratio */
    width: 90vw;
    height: 50vh; /* or any specific width */
    height: auto; /* height will be calculated based on the width to maintain aspect ratio */
    object-fit: cover; /* this will crop and cover the area without distorting the image */
}
footer{
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:2rem 0;
}
.faq{
    background-color: #353535;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 90vw;
    align-items: center;
    margin:0.5rem 0;
    
}
.faq div{

    margin: 0 2rem;
}
.footer{
    height: 50vh;
    width: 100vw;
    color: #D2D2D2;
    
}
.head{
    font-size: 16px;
    margin: 2rem;
}
.links{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin: 2rem;
}
li{
    margin: 0.5rem;
}